# Lists

In [1]:
L=[23,33,22,23,21,23]
print(L)

[23, 33, 22, 23, 21, 23]

In [2]:
S=["Cat","Dog","Cow"]
print(S)

['Cat', 'Dog', 'Cow']

In [3]:
K=["Cat",23,33,43,True]
print(K)

['Cat', 23, 33, 43, True]

In [4]:
P=[] #Empty list

In [5]:
len(L)

6

In [6]:
type(L)

list

# Nested lists

In [7]:
L=[12,22,23,21,[23,33,45,54],"Man"]
print(L)

[12, 22, 23, 21, [23, 33, 45, 54], 'Man']

In [8]:
len(L)

6

# Adding lists & Scaler Multiplication

In [9]:
L1=[23,33,21,23]
L2=[45,43,32]
L=L1+L2
print(L)

[23, 33, 21, 23, 45, 43, 32]

In [10]:
L=L1*3
print(L)

[23, 33, 21, 23, 23, 33, 21, 23, 23, 33, 21, 23]

In [11]:
[3*i for i in L1]

[69, 99, 63, 69]

# Subsetting lists

# Indexing

In [32]:
L=[4,5,3,6,8,3,7,9,12,26,43]

In [33]:
L[0]

4

In [34]:
L[2]

3

In [35]:
L[-1]

43

In [36]:
L[-3]

12

# Slicing

In [37]:
L

[4, 5, 3, 6, 8, 3, 7, 9, 12, 26, 43]

In [38]:
L[1:5]         # without last(dth index)

[5, 3, 6, 8]

In [39]:
L[2:]

[3, 6, 8, 3, 7, 9, 12, 26, 43]

In [40]:
L[:5]

[4, 5, 3, 6, 8]

In [41]:
L

[4, 5, 3, 6, 8, 3, 7, 9, 12, 26, 43]

In [42]:
L[::5]      # 5*

[4, 3, 43]

In [46]:
L[::-2]

[43, 12, 7, 8, 3, 4]

In [47]:
L[:-1]

[4, 5, 3, 6, 8, 3, 7, 9, 12, 26]

In [48]:
L[-3:]

[12, 26, 43]

In [49]:
L[::-1]      # change order

[43, 26, 12, 9, 7, 3, 8, 6, 3, 5, 4]

# Lists are mutable (changeable)

In [50]:
L=[23,34,45,56,66]

In [51]:
L[0]=100

In [52]:
L

[100, 34, 45, 56, 66]

# Aliasing

In [65]:
a=[12,22,23,34,45,56,44,43,46]
b = a

In [66]:
# aliasing means if you change some element in "a" it automatically change "b" and if you change some element in "b" it automatically change "a" 

print(a)              
print(b)
print("===================================================================")

a[:2] = [1.01, 2.2 , 7.375]
print(a)
print(b)

[12, 22, 23, 34, 45, 56, 44, 43, 46]
[12, 22, 23, 34, 45, 56, 44, 43, 46]
===================================================================
[1.01, 2.2, 7.375, 23, 34, 45, 56, 44, 43, 46]
[1.01, 2.2, 7.375, 23, 34, 45, 56, 44, 43, 46]

In [67]:
print(a)
print(b)
print("===================================================================")

b[-3:] = ["cat", "dog", "cow"]
print(a)
print(b)

[1.01, 2.2, 7.375, 23, 34, 45, 56, 44, 43, 46]
[1.01, 2.2, 7.375, 23, 34, 45, 56, 44, 43, 46]
===================================================================
[1.01, 2.2, 7.375, 23, 34, 45, 56, 'cat', 'dog', 'cow']
[1.01, 2.2, 7.375, 23, 34, 45, 56, 'cat', 'dog', 'cow']

# Cloaning

In [77]:
# solution for Aliasing is Cloaning(you can get copy of "a")
# cloaning (if you change "a", it not involve b(only "a" change))

a=[12,22,23,34,45,56,44,43,46]
b=a[:]           # copy of a (if you change b it not involve a)

[12, 22, 23, 34, 45, 56, 44, 43, 46]

In [69]:
b

[12, 22, 23, 34, 45, 56, 44, 43, 46]

In [70]:
b[0]=200

In [71]:
b

[200, 22, 23, 34, 45, 56, 44, 43, 46]

In [72]:
a           # not change "a"

[12, 22, 23, 34, 45, 56, 44, 43, 46]

In [75]:
print(a)              
print(b)
print("===================================================================")

a[:2] = [1.01, 2.2 , 7.375]
print(a)
print(b)

[12, 22, 23, 34, 45, 56, 44, 43, 46]
[200, 22, 23, 34, 45, 56, 44, 43, 46]
===================================================================
[1.01, 2.2, 7.375, 23, 34, 45, 56, 44, 43, 46]
[200, 22, 23, 34, 45, 56, 44, 43, 46]

In [76]:
print(a)
print(b)
print("===================================================================")

b[-3:] = ["cat", "dog", "cow"]
print(a)
print(b)

[1.01, 2.2, 7.375, 23, 34, 45, 56, 44, 43, 46]
[200, 22, 23, 34, 45, 56, 44, 43, 46]
===================================================================
[1.01, 2.2, 7.375, 23, 34, 45, 56, 44, 43, 46]
[200, 22, 23, 34, 45, 56, 'cat', 'dog', 'cow']

In [73]:
c=a.copy()              # same as a[:]

In [74]:
c

[12, 22, 23, 34, 45, 56, 44, 43, 46]

# Base Python functions for Lists (universal function)

In [78]:
L=[2,3,1,4,5,6,7,4,7]

In [80]:
sum(L)              # these are the universal function for list
                    # universal function are represent green color in jupyter

39

In [81]:
max(L)

7

In [82]:
min(L)

1

In [83]:
len(L)

9

## Class function

In [ ]:
# List, Set, intiger are class(collection of more Functions, you can create objects using these functions)
# List is a class. That class has functions, property. You can be create objects using these functions

L = [12, "45", 89, 95, 56, 33, 25]          # this is object of list class

L.copy()   # this way you can use class function
           # copy() is a function inside in List class

# Appending new elements

In [88]:
# adding a single element to end.

L=[12,22,34,32]
L.append(100)               # append is class function
print(L)

[12, 22, 34, 32, 100]

In [85]:
L=[]
L.append(30)
L.append(40)
L.append(50)
print(L)

[30, 40, 50]

In [86]:
L=[12,22,34,32]
L.append([40,50,60])
print(L)

[12, 22, 34, 32, [40, 50, 60]]

# Extending lists

In [63]:
# adding a few elements at once to end.

L=[12,22,34,32]
L.extend([40,50,60])
print(L)

[12, 22, 34, 32, 40, 50, 60]

# Inserting a specific element to a specific place

In [73]:
L=[23,36,54,60,70]
L.insert(3,100)
print(L)

[23, 36, 54, 100, 60, 70]

In [90]:
L=[12,22,34,32]
L.insert(-3, [40,50,60])
print(L)

[12, [40, 50, 60], 22, 34, 32]

# Removing a specific elemend from a list

In [75]:
L=[23,36,54,60,70]
L.remove(60)
print(L)

[23, 36, 54, 70]

In [91]:
L=[60,23,36,60,54,60,70]         # only remove 1st 60
L.remove(60)
print(L)

[23, 36, 60, 54, 60, 70]

# Removing an elemend in a specific index of a list

In [92]:
L=[23,36,54,60,70]
del(L[2])                    # remove 3rt element
print(L)

[23, 36, 60, 70]

# Pop out the last element in a list

In [77]:
L=[12,22,23,34,32,33]
L.pop()

33

In [78]:
L=[12,22,23,34,32,33]
L.pop(2)

23

# Cleaning all elements in a list

In [94]:
L=[12,22,23,34,32,33]

In [95]:
L.clear()

In [96]:
L          # empty list

[]

# Membership test

In [97]:
P=[34,33,32,34,32,33,56]

In [98]:
34 in P

True

In [99]:
60 in P

False

In [100]:
60 not in P

True

# Sorting lists

In [101]:
L=[45,33,32,34,45,43,33,67,65]

In [102]:
L.sort()       # class function

In [103]:
L

[32, 33, 33, 34, 43, 45, 45, 65, 67]

In [104]:
L=[45,33,32,34,45,43,33,67,65]

In [105]:
L.sort(reverse=True)

In [106]:
L

[67, 65, 45, 45, 43, 34, 33, 33, 32]

In [107]:
L=[45,33,32,34,45,43,33,67,65]

In [95]:
P=sorted(L)                   # universel function
                              # but not change original list

In [96]:
P

[32, 33, 33, 34, 43, 45, 45, 65, 67]

In [97]:
L

[45, 33, 32, 34, 45, 43, 33, 67, 65]

# Counting specific elements

In [108]:
L=[33,32,33,34,45,44,33,45,67,33]

In [109]:
L.count(33)

4

# Index of an element

In [110]:
L=[33,32,33,34,45,44,33,45,67,33]

In [111]:
L.index(45)

4

# Reverse a list

In [112]:
L=[33,32,33,34,45,44,33,45,67,31]

In [113]:
L.reverse()

In [114]:
L

[31, 67, 45, 33, 44, 45, 34, 33, 32, 33]

In [115]:
L[::-1]     # method 2

[33, 32, 33, 34, 45, 44, 33, 45, 67, 31]

In [116]:
L            # but not reverse original list

[31, 67, 45, 33, 44, 45, 34, 33, 32, 33]

# Tuple

# Creating tuples

In [110]:
T=(23,33,34,45,56)
print(T)

(23, 33, 34, 45, 56)

In [111]:
F=23,33,34,45,56
print(F)

(23, 33, 34, 45, 56)

# Indexing and slicing is similar to the lists

In [117]:
T=(23,33,34,45,56)
print(T[3])

45

In [118]:
T=(23,33,34,45,56)
print(T[1:3])

(33, 34)

In [119]:
T=(55,45,56,67,32,[33,45,56,67])

In [120]:
T[5][2]

56

In [136]:
T[::-1]        # reverse order( note change original)

(78, 34, 66, 45, 34, 34, 32, 33)

# Tuples are not mutable

In [116]:
T=(55,45,56,67,32,[33,45,56,67])

In [117]:
T[0]=30    #This will give an error

TypeError: 'tuple' object does not support item assignment

In [118]:
T[5][2]=100

In [119]:
T

(55, 45, 56, 67, 32, [33, 45, 100, 67])

# Unpacking tuples

In [121]:
T=(33,32,34,45,56)
a,b,c,d,e=T

In [122]:
a

33

In [123]:
b

32

In [124]:
c

34

In [125]:
d

45

In [126]:
e

56

Unpacking is allowed in lists as well

# Membership test in tuples

In [127]:
T=(23,33,32,34,45)

In [128]:
23 in T

True

In [129]:
60 in T

False

In [130]:
60 not in T

True

# Index of an element

In [131]:
T=(23,33,34,56,78)

In [132]:
T.index(34)

2

# Count elements

In [133]:
T=(33,32,34,34,45,66,34,78)

In [134]:
T.count(34)

3

In [137]:
p, q, r, t = 12, 15, 13, 11     # this is a also tuple. values assign one by one

r

13

# Sets (Haven't indexing)
#### can't replace
#### Haven't index
#### cann't change (but can adding and removing element)
#### ordering

# Creating sets

In [138]:
S={23,33,32,22,24,56,43,33,33,33,56}

In [139]:
S

{22, 23, 24, 32, 33, 43, 56}

# Adding an element to a set

In [140]:
S={23,33,45}
S.add(50)
print(S)

{33, 50, 45, 23}

# Adding multiple elements to a list

In [141]:
S={23,33,45}
S.update([50,50,60,70])
print(S)

{33, 70, 45, 50, 23, 60}

# Removing elements

In [142]:
S={23,33,45}
S.remove(45)
print(S)

{33, 23}

In [143]:
S={23,33,45}
S.discard(45)
print(S)

{33, 23}

# Union between two sets

In [144]:
A={2,3,4,5,6}
B={4,5,6,7,8}

In [145]:
A.union(B)

{2, 3, 4, 5, 6, 7, 8}

In [146]:
B.union(A)

{2, 3, 4, 5, 6, 7, 8}

# Intersection between two sets

In [147]:
A.intersection(B)

{4, 5, 6}

In [148]:
B.intersection(A)

{4, 5, 6}

In [149]:
B.intersection_update(A)      # update B intersection of (A, B)

In [150]:
B

{4, 5, 6}

In [151]:
A

{2, 3, 4, 5, 6}

# sub set

In [155]:
x = {12, 45, 89, 95, 56, 33, 25}  
y = {12, 29, 99, 95, 46, 32, 21} 
z = {12, 45, 89, 95, 56}

x.difference(y)     # x - y

{25, 33, 45, 56, 89}

In [156]:
y.symmetric_difference(x)    # not intersection values

{21, 25, 29, 32, 33, 45, 46, 56, 89, 99}

In [157]:
z.issubset(x)

True

In [158]:
x.issuperset(z)

True

# Casting compund data

In [159]:
L=[2,3,4,5,6,6,6,7,8,9]

In [160]:
T=tuple(L)
print(T)

(2, 3, 4, 5, 6, 6, 6, 7, 8, 9)

In [161]:
S=set(L)
print(S)

{2, 3, 4, 5, 6, 7, 8, 9}

In [162]:
T=(4,5,6,7)

In [163]:
L=list(T)
print(L)

[4, 5, 6, 7]

# Dictionary

# Creating dictionaries

In [164]:
d={"Name":["Sam","Kane","Jane"],"Age":[23,33,45]}

In [167]:
d

{'Name': ['Sam', 'Kane', 'Jane'], 'Age': [23, 33, 45]}

In [168]:
d['Name']

['Sam', 'Kane', 'Jane']

In [88]:
for i in d:
    print(i)

Name
Age

In [169]:
g=dict([("A",20),("B",[40,30,20])])

In [170]:
g

{'A': 20, 'B': [40, 30, 20]}

# Keys & values

In [171]:
d={"Name":["Sam","Kane","Jane"],"Age":[23,33,45]}

In [172]:
d.items()

dict_items([('Name', ['Sam', 'Kane', 'Jane']), ('Age', [23, 33, 45])])

In [173]:
d.keys()

dict_keys(['Name', 'Age'])

In [174]:
d.values()

dict_values([['Sam', 'Kane', 'Jane'], [23, 33, 45]])

# Membership test

In [175]:
d={"Name":["Sam","Kane","Jane"],"Age":[23,33,45]}

In [176]:
"Name" in d

True

In [177]:
[23,33,45] in d.values()

True

# Accessing elements

In [178]:
d={"Name":["Sam","Kane","Jane"],"Age":[23,33,45]}

In [179]:
d["Name"]

['Sam', 'Kane', 'Jane']

In [180]:
d.get("Age")

[23, 33, 45]

# Changing elements

In [181]:
k={"A":30,"B":70}

In [182]:
k["A"]=100

In [183]:
k

{'A': 100, 'B': 70}

# Adding a new element

In [184]:
k={"A":30,"B":70}

In [185]:
k["C"]=200

In [186]:
k

{'A': 30, 'B': 70, 'C': 200}

# Removing an element

In [187]:
k={"A":30,"B":70}

In [188]:
del k["A"]

In [189]:
k

{'B': 70}

# Same value for different keys

In [192]:
x = ["A","B","C"]
y = []

In [193]:
d=dict.fromkeys(x,y)

In [194]:
d

{'A': [], 'B': [], 'C': []}

In [195]:
d["A"].append(10)

In [196]:
d

{'A': [10], 'B': [10], 'C': [10]}

If you need to append different values to different lists

In [197]:
d1=dict()

In [198]:
d1["A"]=[]
d1["B"]=[]
d1["C"]=[]

In [199]:
d1

{'A': [], 'B': [], 'C': []}

In [200]:
d1["A"].append(10)

In [201]:
d1

{'A': [10], 'B': [], 'C': []}

In [202]:
d1["B"].append(10)

In [203]:
d1

{'A': [10], 'B': [10], 'C': []}

## Castiing

In [204]:
L = [["a", 12], ["b", 23], ["c", 25], ["d", 33], ["e", 45], ["f", 56], ["g", 89], ["h", 95]]

dict(L)

{'a': 12, 'b': 23, 'c': 25, 'd': 33, 'e': 45, 'f': 56, 'g': 89, 'h': 95}

In [205]:
T = (("a", 12), ["b", 23], ["c", 25], ["d", 33], ["e", 45], ["f", 56], ["g", 89], ("h", 95))

dict(T)

{'a': 12, 'b': 23, 'c': 25, 'd': 33, 'e': 45, 'f': 56, 'g': 89, 'h': 95}

In [206]:
L = [["a", "Age"], ["b", [23, 12, 56, 98]]]
     
dict(L)

{'a': 'Age', 'b': [23, 12, 56, 98]}

In [208]:
L = [12, 23, 25, 33, 45, 56, 89, 95]        # this cann't convert to dictionary

L = [["a", "Age"]]     
dict(L)

{'a': 'Age'}

In [209]:
Grade_10 = {"Name": ["Supun", "Lakshan", "Dileshan", "Kasun"], "Age": [24, 23, 22, 19]}

list(Grade_10.items())

[('Name', ['Supun', 'Lakshan', 'Dileshan', 'Kasun']),
 ('Age', [24, 23, 22, 19])]