# String operations

In [1]:
x="Sam"
y="is a good boy"
z=" "

In [2]:
print(x+z+y)

Sam is a good boy

In [3]:
print(x*3)

SamSamSam

# Membership test in strings

In [4]:
x="Today is a beautiful day"

In [5]:
"Today" in x

True

In [6]:
"today" in x        # t is in lowercase

False

In [7]:
"bad" not in x

True

# Length of strings

In [8]:
x="Today is a beautiful day"
len(x)

24

# ASCII values

In [9]:
ord("A")        # ASCII value of A is 65

65

In [10]:
chr(66)

'B'

# Casting to strings

In [11]:
x=1234
y=str(x)
print(y)
y

1234

'1234'

In [12]:
type(y)

str

# Indexing & slicing strings

In [13]:
x="Today is a beautiful day"
x[0]

'T'

In [14]:
x[-1]

'y'

In [15]:
x[2:10]

'day is a'

In [16]:
x[::2]

'Tdyi  euiu a'

In [17]:
x[::-1]           # reverse

'yad lufituaeb a si yadoT'

# Strings are not mutable

In [18]:
x="Dog"
x[0]="T"       # This will give an error

TypeError: 'str' object does not support item assignment

# Interpolating variables into strings

In [19]:
name=input("Please enter your name:")
msg=f"Hello {name}, Welcome to the Python!!"
print(msg)

Please enter your name:Dileshan
Hello Dileshan, Welcome to the Python!!

In [20]:
age=int(input("Please enter your age in years:"))
msg="You are {} years old".format(age)
print(msg)

Please enter your age in years:24
You are 24 years old

# Eventhough the strings are not mutable there are some ways of modifying

In [21]:
x="My name is Sam"
y=x.replace("Sam","Kane")
print(y)

My name is Kane

In [22]:
x.replace("a", "$")        # All "a" are replace for "$"

'My n$me is S$m'

In [23]:
x.replace(x[11:20], x[11:20].replace("a", "$", 1))      # only change in x[11:20] part

'My name is S$m'

# Converting strings to upper case and lower case

In [24]:
x="My name is Sam"
y=x.upper()
print(y)

MY NAME IS SAM

In [25]:
x="My name is Sam"
y=x.lower()
print(y)

my name is sam

# Capitalize the sentences

In [26]:
x="today is a great day"
y=x.capitalize()
print(y)

Today is a great day

# Swapping cases of the string values

In [27]:
x="Happy New Year!!!"          # Swap lower to upper and upper to lower
y=x.swapcase()
print(y)

hAPPY nEW yEAR!!!

# Convert each word's first letter to uppercase

In [28]:
x="today is a great day"
y=x.title()
print(y)

Today Is A Great Day

# Count a specific part in a string

In [29]:
x="today is a great day"
print(x.count("day"))

2

In [30]:
x="today is a great day"
print(x.count("a"))

4

# startswith & endswith

In [31]:
x="Happy birth day"

In [32]:
x.startswith("Happy")

True

In [33]:
x.endswith("day")

True

In [34]:
x.endswith("year")

False

# Find a specific parts's index in a sentence

In [35]:
x="Today is a rainy day"
x[9]

'a'

In [36]:
x.find("is")           # gives start index

6

In [70]:
x.find("r")

11

In [71]:
x.find("z")

-1

# Checking the specific characteristics of strings

# Checking whether the string is alphanumeric (String has only letters and numbers)

In [37]:
x="123Dog"
x.isalnum()

True

In [38]:
x="#123Dog"      
x.isalnum()             # only letter and number for True

False

# Checking whether the string has only letters

In [39]:
y="Cat"
y.isalpha()

True

In [40]:
y="Man123"       
y.isalpha()         # only letter

False

# Checking whether the string has only intergers

In [41]:
x="1234"
x.isdigit()

True

In [42]:
x="1234Dog"       # only number
x.isdigit()

False

In [43]:
x.isnumeric()

False

In [44]:
x.isascii()

True

# Checking whether the string is in lowercase

In [45]:
y="happy birthday"
y.islower()

True

# Checking whether the string is in uppercase

In [46]:
y="HAPPY BIRTHDAY"
y.isupper()

True

# Splitting a string to a list

In [47]:
msg="Today is a great day"

In [48]:
msg_list=msg.split(" ")      
print(msg_list)

['Today', 'is', 'a', 'great', 'day']

In [49]:
msg_list=msg.split("a")      
print(msg_list)

['Tod', 'y is ', ' gre', 't d', 'y']

# Joining list of strings as a single string

In [50]:
L=["Happy","new","year"]

In [51]:
msg=" ".join(L)
print(msg)

Happy new year

In [52]:
msg = "$".join(L)
print(msg)

Happy$new$year

# Escaping characters

In [54]:
msg="Hi..How are you?\nHow about today?"      # (\n) next line
print(msg)

Hi..How are you?
How about today?

In [55]:
msg="Hi..How are you?\n\nHow about today?"         # move 2 lines
print(msg)

Hi..How are you?

How about today?

In [56]:
msg="Hi..How are you?\tHow about today?"      # tab space
print(msg)

Hi..How are you?	How about today?

In [57]:
msg="Hi..How are you?\bHow about today?"      # remove last element
print(msg)

Hi..How are you?How about today?

In [58]:
msg="Hi..How are you?\\How about today?"        # enter one "\"
print(msg)

Hi..How are you?\How about today?

In [59]:
msg="Sam says, \"Tomorrow will be a rainy day!!\""      # enter " with in the string(using "")
print(msg)

Sam says, "Tomorrow will be a rainy day!!"

In [60]:
msg="Sam says, 'Tomorrow will be a rainy day!!'"
print(msg)

Sam says, 'Tomorrow will be a rainy day!!'

In [61]:
msg='Sam says, "Tomorrow will be a rainy day!!"'
print(msg)

Sam says, "Tomorrow will be a rainy day!!"

# Interpolation

In [62]:
name = "dileshan"
age = 24

print("I am ", name, ". I'm ", age, "age old")     # this is not a string, only output

I am  dileshan . I'm  24 age old

In [65]:
# creating string
details = "I am " + name + ". I'm " + str(age) + " age old"     ## + str(age) + (casting)
details

"I am dileshan. I'm 24 age old"

In [66]:
details2 = f"I am {name}. I'm {age} age old"        # "f" in beginning
details2

"I am dileshan. I'm 24 age old"

In [67]:
details3 = "I am {}. I'm {} age old".format(name, age)   
details3

"I am dileshan. I'm 24 age old"