# Classes & Instances

Classes and instances can be created as follows

In [1]:
class Employee():
    pass

In [2]:
emp1=Employee()
emp2=Employee()
emp3=Employee()
emp4=Employee()
emp5=Employee()

In [3]:
print(emp1)
print(emp2)
print(emp3)
print(emp4)
print(emp5)

<__main__.Employee object at 0x0000019D17654AC0>
<__main__.Employee object at 0x0000019D17654A30>
<__main__.Employee object at 0x0000019D17654A90>
<__main__.Employee object at 0x0000019D17654B80>
<__main__.Employee object at 0x0000019D17654BE0>

# Initializing the instances

In [30]:
class Employee():
    
    #This is called as a constructor
    def __init__(self,a,b,c,d):
        self.firstname=a
        self.lastname=b
        self.fullname=a+" "+b
        self.email=c
        self.salary=d

In [31]:
# create object
emp1=Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)

In [32]:
emp1.firstname

'Dileshan'

In [33]:
emp1.lastname

'Prasad'

In [34]:
emp1.fullname

'Dileshan Prasad'

In [35]:
emp1.email

'dlsnptrn@gmail.com'

In [36]:
emp1.salary

75000

In [37]:
emp1.__dict__           # This will show everything

{'firstname': 'Dileshan',
 'lastname': 'Prasad',
 'fullname': 'Dileshan Prasad',
 'email': 'dlsnptrn@gmail.com',
 'salary': 75000}

In [38]:
# you can create more object using same class
emp2 = Employee("Prasad", "Karunarathna", "prasad97@gamil.com", 55000)

In [39]:
emp2.firstname

'Prasad'

In [40]:
emp2.fullname

'Prasad Karunarathna'

# Creating methods

In [41]:
class Employee():
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a                        # these are proparty
        self.lastname=b
        self.email=c
        self.salary=d
        
    #These are instance methods                 # this is function in the class
    def salary_msg(self):
        return f"{self.firstname} {self.lastname} earns a USD {self.salary} salary per month."
    
    def salary_bonus(self,p):
        return self.salary*p
    
    def salary_total(self,p):
        return self.salary+self.salary_bonus(p)

In [42]:
emp1=Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)

In [43]:
emp1.salary_msg()

'Dileshan Prasad earns a USD 75000 salary per month.'

In [44]:
emp1.salary_bonus(0.5)

37500.0

In [45]:
emp1.salary_total(0.5)

112500.0

In [46]:
Employee.salary_total(emp1,0.5)

112500.0

# Class Variables

In [47]:
class Employee():
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a 
        self.lastname=b
        self.email=c
        self.salary=d

    def salary_increase(self,p):
        self.salary=self.salary*(1+p)

In [48]:
emp1=Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)

In [49]:
emp1.salary

75000

In [50]:
emp1.salary_increase(0.5)

In [51]:
emp1.salary

112500.0

Think that this increament is fixed for every instance

In [76]:
class Employee():
    
    increament=0.5     # This is a class variable(static variable-fix for every one)
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a 
        self.lastname=b
        self.email=c
        self.salary=d

    def salary_increase(self):
        self.salary=self.salary*(1+Employee.increament)
                    
                # class variable calling ----> Employee.increment or self.increment

In [77]:
emp1 = Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)
emp2 = Employee("Prasad", "Karunarathna", "prasad97@gamil.com", 55000)

Any instance and the class can access that class varlable

In [56]:
print(emp1.increament)
print(emp2.increament)
print(Employee.increament)

0.5
0.5
0.5

In [124]:
class Employee():
    
    increament=0.5 #This is a class variable
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a 
        self.lastname=b
        self.email=c
        self.salary=d

    def salary_increase(self):
        self.salary=self.salary*(1+self.increament)

In [125]:
emp1 = Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)
emp2 = Employee("Prasad", "Karunarathna", "prasad97@gamil.com", 55000)

In [126]:
print(emp1.increament)
print(emp2.increament)
print(Employee.increament)

0.5
0.5
0.5

In [127]:
emp1.salary

75000

In [128]:
emp1.salary_increase()

In [129]:
emp1.salary

112500.0

In [131]:
emp1.__dict__                   # there haven't class variable

{'firstname': 'Dileshan',
 'lastname': 'Prasad',
 'email': 'dlsnptrn@gmail.com',
 'salary': 112500.0}

In [132]:
emp2.__dict__

{'firstname': 'Prasad',
 'lastname': 'Karunarathna',
 'email': 'prasad97@gamil.com',
 'salary': 55000}

In [133]:
Employee.__dict__             # there has it

mappingproxy({'__module__': '__main__',
              'increament': 0.5,
              '__init__': <function __main__.Employee.__init__(self, a, b, c, d)>,
              'salary_increase': <function __main__.Employee.salary_increase(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [84]:
Employee.increament=0.7       # we can change static variable in out side
                              # if you want to change static variable you must use "Employee"

In [85]:
print(emp1.increament)
print(emp2.increament)
print(Employee.increament)

0.7
0.7
0.7

In [86]:
emp1.increament=0.4                 # only change partiqular object

In [87]:
print(emp1.increament)              # Only this is chaaged
print(emp2.increament)
print(Employee.increament)

0.4
0.7
0.7

In [88]:
print(emp1.__dict__)
print(emp2.__dict__)

{'firstname': 'Dileshan', 'lastname': 'Prasad', 'email': 'dlsnptrn@gmail.com', 'salary': 112500.0, 'increament': 0.4}
{'firstname': 'Prasad', 'lastname': 'Karunarathna', 'email': 'prasad97@gamil.com', 'salary': 55000}

In [94]:
emp1 = Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)
emp2 = Employee("Prasad", "Karunarathna", "prasad97@gamil.com", 55000)

In [95]:
emp1.increament=0.8

In [96]:
emp1.salary_increase()
emp2.salary_increase()

In [97]:
print(emp1.salary)
print(emp2.salary)

127500.0
93500.0

In [231]:
# get count how many objects you created
# after get how many employees get salary greater than 100000


class Employee():
    
    increament=0.5          # This are a class variable
    no_employees=0
    high_salary_employees=0
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a 
        self.lastname=b
        self.email=c
        self.salary=d
        
        self.no_employees=self.no_employees+1
        
        if self.salary>=100000:
            Employee.high_salary_employees=Employee.high_salary_employees+1

    def salary_increase(self):
        self.salary=self.salary*(1+self.increament)

In [232]:
emp1 = Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)
emp2 = Employee("Prasad", "Karunarathna", "prasad97@gamil.com", 55000)
emp3=Employee("Jane","Johanson","jane@gmail.com",10000)
emp4=Employee("Kelly","Daniel","kelly@gmail.com",150000)

In [233]:
Employee.no_employees         # not cahnge, reason is we use "self"

0

In [234]:
emp4.no_employees

1

In [115]:
Employee.high_salary_employees

1

In [239]:
class Employee():
    
    increament=0.5          # This are a class variable
    no_employees=0
    high_salary_employees=0
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a 
        self.lastname=b
        self.email=c
        self.salary=d
        self.fullName = a + " " + b
        
        Employee.no_employees=Employee.no_employees+1
        
        if self.salary>=100000:
            Employee.high_salary_employees=Employee.high_salary_employees+1

    def salary_increase(self):
        self.salary=self.salary*(1+self.increament)

In [240]:
emp1 = Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)
emp2 = Employee("Prasad", "Karunarathna", "prasad97@gamil.com", 55000)
emp3=Employee("Jane","Johanson","jane@gmail.com",10000)
emp4=Employee("Kelly","Daniel","kelly@gmail.com",150000)

In [241]:
Employee.no_employees

4

In [242]:
Employee.high_salary_employees

1

In [243]:
emp1.firstName = "Sanjeewa"      # but not change other instace valuse(fullName)
                                 # we cannot change in a class, only change in particular object

In [244]:
emp1.__dict__                    # not change fullName

{'firstname': 'Dileshan',
 'lastname': 'Prasad',
 'email': 'dlsnptrn@gmail.com',
 'salary': 75000,
 'fullName': 'Dileshan Prasad',
 'firstName': 'Sanjeewa'}

In [245]:
emp1.fullName              # Not "Sanjeewa Prasad"

'Dileshan Prasad'

**We need to creat function for create fullName**

In [170]:
class Employee():
    
    increament=0.5          # This are a class variable
    no_employees=0
    high_salary_employees=0
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a 
        self.lastname=b
        self.email=c
        self.salary=d
        self.fullName = a + " " + b
        
        Employee.no_employees=Employee.no_employees+1
        
        if self.salary>=100000:
            Employee.high_salary_employees=Employee.high_salary_employees+1

    def salary_increase(self):
        self.salary=self.salary*(1+self.increament)
        
    def full_Name(self):
        self.fullName = self.firstname + " " + self.lastname

In [171]:
emp1 = Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)

In [173]:
emp1.fullName

'Dileshan Prasad'

In [172]:
emp1.firstname

'Dileshan'

In [174]:
emp1.firstname = "Sanjeewa"

In [175]:
emp1.full_Name()

In [176]:
emp1.fullName

'Sanjeewa Prasad'

# Regular Methods, Class Methods & Static Methods

In [182]:
class Employee():
    
    increament=0.5 #This is a class variable
    no_employees=0
    high_salary_employees=0
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a 
        self.lastname=b
        self.email=c
        self.salary=d
        
        Employee.no_employees=Employee.no_employees+1
        
        if self.salary>=100000:
            Employee.high_salary_employees=Employee.high_salary_employees+1
    
    
    #These are regular methods
    def salary_increase(self):
        self.salary=self.salary*(1+self.increament)
        
    @classmethod
    def set_increment(cls,inc):
        cls.increament=inc                 # object can't be accessed, here you access class(cls)
        cls.increment = x                  # if you change anywere (any object) class varible is change
                                           # we can use class variable

In [183]:
emp1 = Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)
emp2 = Employee("Prasad", "Karunarathna", "prasad97@gamil.com", 55000)

In [184]:
print(emp1.increament)
print(emp2.increament)
print(Employee.increament)

0.5
0.5
0.5

In [185]:
Employee.set_increment(0.8)         # change original class varible

In [186]:
print(emp1.increament)
print(emp2.increament)
print(Employee.increament)

0.8
0.8
0.8

In [187]:
emp1.set_increment(0.7)             # change original class varible
                                    # access class

In [188]:
print(emp1.increament)
print(emp2.increament)
print(Employee.increament)

0.7
0.7
0.7

In [193]:
emp1.increament = 0.5           # this is not in static method

In [194]:
print(emp1.increament)
print(emp2.increament)
print(Employee.increament)

0.5
0.7
0.7

# alternative constructor
**Class methods can be used as an alternative constructor**

In [215]:
# the object can create salary greater than 10000, otherwise cannot create object


class Employee():
    
    increament=0.5 #This is a class variable
    no_employees=0
    high_salary_employees=0
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a 
        self.lastname=b
        self.email=c
        self.salary=d
        self.fullName = a + " " + b
        
        Employee.no_employees=Employee.no_employees+1
        
        #Now this should be casted to float for checking because we have included an alternative constructor with a string input
        if float(self.salary)>=100000:
            Employee.high_salary_employees=Employee.high_salary_employees+1
    
    def salary_increase(self):
        self.salary=self.salary*(1+self.increament)
        
    @classmethod
    #This is an alternative constructor
    def select_salary(cls,a,b,c,d):
        if d>=2000:
            return cls(a,b,c,d)             # return a, b, c, d ; if salary greater than 10000
        
    #This is an alternative constructor    
    @classmethod
    def string_instance(cls,details):
        a,b,c,d=details.split(" ")
        return cls(a,b,c,d)

In [216]:
emp1=Employee.select_salary("Sam","Taylor","sam@gmail.com",10000)
emp2=Employee.select_salary("Kane","Jacob","kane@gmail.com",1000)

In [217]:
emp1

In [218]:
emp2                # This is nothing

In [246]:
emp3 = Employee("Dileshan", "Prasad", "dlsnptrn@gmail.com", 75000)      # This is okey

In [247]:
emp3

In [219]:
emp1.salary

10000

In [220]:
emp2.salary         # This is nothing

AttributeError: 'NoneType' object has no attribute 'salary'

In [221]:
emp3=Employee.string_instance("Roshan Kanishka rosan9@gmail.com 30000")

In [222]:
emp3.__dict__

{'firstname': 'Roshan',
 'lastname': 'Kanishka',
 'email': 'rosan9@gmail.com',
 'salary': '30000',
 'fullName': 'Roshan Kanishka'}

In [212]:
emp3

In [223]:
emp3.fullName

'Roshan Kanishka'

# Static methods
**Static methods are the methods which don't take classes or instances as parameters while they are working with them.**

In [224]:
class Employee():
    
    increament=0.5 #This is a class variable
    no_employees=0
    high_salary_employees=0
    
    def __init__(self,a,b,c,d):
        
        #These are instance variables
        self.firstname=a 
        self.lastname=b
        self.email=c
        self.salary=d
        
        Employee.no_employees=Employee.no_employees+1
        
        if float(self.salary)>=100000:
            Employee.high_salary_employees=Employee.high_salary_employees+1
    
    def salary_increase(self):
        self.salary=self.salary*(1+self.increament)
    
    @staticmethod
    def check_experience(years):
        if years>=10:
            return True
        
        return False

In [229]:
wexp=20

In [230]:
Employee.check_experience(wexp)

True

In [225]:
emp1=Employee("Sam","Taylor","sam@gmail.com",10000)

In [227]:
emp1.check_experience(wexp)           # These static methods can be accessed by the instances as well

True

In [228]:
emp1.check_experience(9)

False