# Funnction

In [3]:
print("Hi Dileshan")
print("Happy birth day.....!")
print("How about you")
print("What are we do today for your birthday")
print("We can go park")
print()

print("Hi Prasad")
print("Happy birth day.....!")
print("How about you")
print("What are we do today for your birthday")
print("We can go park")
print()

print("Hi Kamal")
print("Happy birth day.....!")
print("How about you")
print("What are we do today for your birthday")
print("We can go park")
print()

print("Hi Sudeee")
print("Happy birth day.....!")
print("How about you")
print("What are we do today for your birthday")
print("We can go park")
print()

Hi Dileshan
Happy birth day.....!
How about you
What are we do today for your birthday
We can go park

Hi Prasad
Happy birth day.....!
How about you
What are we do today for your birthday
We can go park

Hi Kamal
Happy birth day.....!
How about you
What are we do today for your birthday
We can go park

Hi Sudeee
Happy birth day.....!
How about you
What are we do today for your birthday
We can go park

In [4]:
def wish_birthdar():
    print("Happy birth day.....!")
    print("How about you")
    print("What are we do today for your birthday")
    print("We can go park")
    print()

In [5]:
print("Hi Dileshan")
wish_birthdar()

print("Hi Prasad")
wish_birthdar()

print("Hi Buddika")
wish_birthdar()

print("Hi Sajeewa")
wish_birthdar()

Hi Dileshan
Happy birth day.....!
How about you
What are we do today for your birthday
We can go park

Hi Prasad
Happy birth day.....!
How about you
What are we do today for your birthday
We can go park

Hi Buddika
Happy birth day.....!
How about you
What are we do today for your birthday
We can go park

Hi Sajeewa
Happy birth day.....!
How about you
What are we do today for your birthday
We can go park

# Functions without arguments

In [6]:
def wish_birthday():
    print("Happy Birthday!!!")

In [7]:
wish_birthday()

Happy Birthday!!!

# Functions with arguments

In [8]:
def add_vals(a,b):
    print(a+b)

In [9]:
add_vals(20,10)

30

In [10]:
add_vals(-10,40)

30

In [16]:
def name(name):                             # any kind(str, int, list....) of data you can add
    print("{} is good human".format(name))
    
name("Dileshan")

Dileshan is good human

In [17]:
def add_list(x, y):
    print([i + j for i, j in zip(x, y)])
    
L1 = [1, 6, 9, 4, 5]
L2 = [9, 7, 5, 8, 2, 0, 20]

add_list(L1, L2)

[10, 13, 14, 12, 7]

In [18]:
def result(name, mark):
    F_P = "Pass" if mark > 50 else "Fail"
    Grade = "A" if mark > 80 else "B" if mark > 60 else "C" if mark > 45 else "F"
    print("{} has {} the exam with the grade {}".format(name, F_P, Grade))
    
result("Dileshan", 99)

Dileshan has Pass the exam with the grade A

In [19]:
def result(name, mark):
    print("{} has {} the exam with the grade {}".format(name, 
                                                        "Pass" if mark > 50 else "Fail", 
                                                        "A" if mark > 80 else "B" if mark > 60 else "C" if mark > 45 else "F"))
    
result("Dileshan", 99)

Dileshan has Pass the exam with the grade A

# Default arguments

In [20]:
def add_val(a = 12, b = 5):     # you get output, you can set the different values for a, b
    print(a+b)
    
add_val()
add_val(12, 19)

17
31

In [11]:
def add_vals(a,b=10):
    print(a+b)

In [12]:
add_vals(5)

15

In [13]:
add_vals(20,10)

30

In [14]:
def add_vals(a=10,b):
    print(a+b)

# This returns an error. Non default argument can not follow a default argument

SyntaxError: non-default argument follows default argument (<ipython-input-14-a7e9e54bd437>, line 1)

In [21]:
def add_val(a, c, b = 12):       # this is work       
    print(a+b)

In [23]:
def add_val(a = 15, c, b = 12):       # this is not work       
    print(a+b)

SyntaxError: non-default argument follows default argument (<ipython-input-23-864e4c8fbbba>, line 1)

# Return statement

In [37]:
def add_vals(a = 15, b = 12):
    print(a+b)             # This function does not return any value, It's just print. Therefore we cann't do any this output

In [39]:
x = add_vals()

27

In [40]:
x             # nothing

In [41]:
2+add_vals(4,5)         # Print a value. But an error is given

9

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [46]:
def add_val2(a,b):
    return a+b

In [48]:
x = add_val2(15, 12)

In [50]:
x       # we can get output for out
        # we can do any mathematical operation for this output

27

In [51]:
3+add_val2(10,20)

33

In [52]:
add_val2(add_val2(3,5),6)

14

In [53]:
def absulute_val(a):
    if a>=0:
        return a
    else:
        return -a

In [54]:
absulute_val(10)

10

In [55]:
absulute_val(-20)

20

In [57]:
add_prod_vals(2,3,4)

20

In [56]:
def add_prod_vals(a,b,c):
    return add_val2(a,b)*c

In [59]:
def pass_fail(p):
    if p > 50:
        return "Pass"
    else:
        return "Fail"
    

def grade(m):
    if m > 80:
        return "A"
    elif m > 60:
        return "B"
    elif m > 45:
        return "C"
    else:
        return "F"
    
def result(name, mark):
    print("{} has {}ed exam with the grade {}".format(name, pass_fail(mark), grade(mark)))
    

result("Dile", 77)

Dile has Passed exam with the grade B

In [60]:
def pass_fail(p):
    return "pass" if p > 50 else "fail"

def grade(m):
    return "A" if m > 80 else "B" if m > 65 else "C" if m > 45 else "F"

def result(name, mark):
    print("{} has {}ed  exam with the grade {}".format(name, pass_fail(mark), grade(mark)))
    
result("dileshan", 63)

dileshan has passed  exam with the grade C

In [131]:
L = [[64, 24, 50], [30, 28, 48], [58, 55, 49], [61, 19, 80]]     # get average [p, q, r]

def avg(L):
    return [sum([L[i][j] for i in range(len(L))])/len(L) for j in range(len(L[0]))]

avg(L)

[53.25, 31.5, 56.75]

# Nested function (function with in the function)

In [61]:
def fun1(x, y):
    def fun2(a, b):             # but we cann't change globle varible in here
        return a + b
    return fun2(x, y)**2


fun1(12, 5)

289

# Scope of the variables (global & local variable)

In [20]:
x=30                     # global variable

def ret_val():
    x=20                 # local variable
    return x


print(x)
print(ret_val())
print(x)             # not change global variable(only change local variable)

30
20
30

In [21]:
x=30

def ret_val():
    global x              
    x=20                  # now this is global variable
    return x


print(x)
print(ret_val())
print(x)

30
20
20

# map function - function for list

In [62]:
def fun(x):
    return 2*x

In [63]:
fun(3)

6

In [64]:
L=[10,20,30,40,50]
L1=[fun(10),fun(20),fun(30),fun(40),fun(50)]
L1

[20, 40, 60, 80, 100]

In [65]:
L2=[fun(i) for i in L]
L2

[20, 40, 60, 80, 100]

In [66]:
L3=map(fun,L)       # unreadble output
list(L3)

[20, 40, 60, 80, 100]

In [67]:
L=[23,33,21,23,34]

def fun(x):
    return 5*x-10

In [68]:
L2=map(fun,L)

In [69]:
list(L2)

[105, 155, 95, 105, 160]

In [70]:
def even_odd(k):
    if k%2==0:
        return "Even"
    else:
        return "Odd"

In [71]:
L=[12,22,23,11,24,44,56,55,43,11,23,55]
L_even_odd=map(even_odd,L)
list(L_even_odd)

['Even',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Even',
 'Even',
 'Odd',
 'Odd',
 'Odd',
 'Odd',
 'Odd']

In [72]:
K=[[34,33,21,23,45],[56,67,32],[67,56,42]]

def fun2(L):
    return L[0]

P=map(fun2,K)
print(list(P))

[34, 56, 67]

# lambda keyword

In [136]:
def fun1(x):
    return 2*x

fun2=lambda x : 2*x

In [137]:
fun1(5)

10

In [138]:
fun2(5)

10

In [139]:
fun3=lambda x,y : x+y

In [140]:
fun3(10,20)

30

In [151]:
(lambda x, y : x+y)(10, 12)      # you can use directly

22

In [141]:
fun=lambda x: 5*x
L1=map(fun,[2,3,4,5,6])

In [142]:
L=[[12,22,23],[34,32,33],[20,30,40],[12,15,19]]
L3=map(lambda h:sum(h)/len(h),L)
list(L3)

[19.0, 33.0, 30.0, 15.333333333333334]

In [150]:
L2=map(lambda x:str(x),[2,3,4,5,6])
list(L2)

['2', '3', '4', '5', '6']

In [152]:
# apply lambda for list

fun = lambda L : [i*2-2 for i in L if i > 5]

fun([1, 5, 8, 4, 9, 6, 8])

[14, 16, 10, 14]

In [153]:
# same without function

[i*2-2 for i in [1, 5, 8, 4, 9, 6, 8] if i>5]

[14, 16, 10, 14]

In [155]:
# same using map function

list(map(lambda x : x*2-2 if x>5 else None, [1, 5, 8, 4, 9, 6, 8]))

[None, None, 14, None, 16, 10, 14]

In [163]:
list(map(lambda marks: "A" if marks>=75 else "B" if marks>50 else "C", [45, 89, 46, 58, 74, 56, 25, 44]))

['C', 'A', 'C', 'B', 'B', 'B', 'C', 'C']

In [164]:
(lambda markss: ["A" if marks>=75 else "B" if marks>50 else "C" for marks in markss])([45, 89, 46, 58, 74, 56, 25, 44])

['C', 'A', 'C', 'B', 'B', 'B', 'C', 'C']

In [167]:
list(map(lambda marks: ("A" if marks>=75 else "B" if marks>50 else "C", "Pass" if marks>50 else "Fail"), [45, 89, 46, 58, 74, 56, 25, 44]))

[('C', 'Fail'),
 ('A', 'Pass'),
 ('C', 'Fail'),
 ('B', 'Pass'),
 ('B', 'Pass'),
 ('B', 'Pass'),
 ('C', 'Fail'),
 ('C', 'Fail')]

In [172]:
L1 = list(map(lambda marks : "A" if marks > 80 else "B" if marks > 65 else "C" if marks > 45 else "F",  [45, 89, 46, 58, 74, 56, 25, 44]))
L2 = list(map(lambda marks : 'pass' if marks > 50 else 'fail',  [45, 89, 46, 58, 74, 56, 25, 44]))
list(zip(L1, L2))

[('F', 'fail'),
 ('A', 'pass'),
 ('C', 'fail'),
 ('C', 'pass'),
 ('B', 'pass'),
 ('C', 'pass'),
 ('F', 'fail'),
 ('F', 'fail')]

In [170]:
list(map(lambda marks: ("A" if marks>=75 else "B" if marks>50 else "C", "Pass" if marks>50 else "Fail", marks+10), [45, 89, 46, 58, 74, 56, 25, 44]))

[('C', 'Fail', 55),
 ('A', 'Pass', 99),
 ('C', 'Fail', 56),
 ('B', 'Pass', 68),
 ('B', 'Pass', 84),
 ('B', 'Pass', 66),
 ('C', 'Fail', 35),
 ('C', 'Fail', 54)]

# Recursion

In [181]:
def factorial(x):
    if x==0 or x==1:
        return 1
    else:
        return x*factorial(x-1)

In [182]:
factorial(5)

120

In [183]:
factorial = lambda x : 1 if x==0 else x*factorial(x-1)

In [184]:
def add_rec(x):
    if x>=0:
        if x==1:
            return 1
        else:
            return x+add_rec(x-1)
    else:
        print("Try positive value")

In [186]:
add_rec(4)

10

# Non keyword arguments

In [187]:
def fun(*args):
    for i in args:
        print(i, end=" ")

In [188]:
fun(12,22,34,45)

12 22 34 45

In [193]:
def fun(*x):
    return ["pass" if i>50 else "fail" for i in x]

fun(45, 95, 56, 18, 88)

['fail', 'pass', 'pass', 'fail', 'pass']

In [194]:
def fun(y, *x):      
    return y

fun(45, 89, 56, 26, 65, 85, 98)            # "y" in first place, anther all are "x"

45

In [197]:
def fun(y, *x):
    return [i>y for i in x]

fun(45, 56, 45, 89, 78, 26, 32, 78, 59, 15, 56, 45)

[True, False, True, True, False, False, True, True, False, True, False]

In [196]:
fun = lambda y, *x : [i>y for i in x]

fun(45, 56, 45, 89, 78, 26, 32, 78, 59, 15, 56, 45)

[True, False, True, True, False, False, True, True, False, True, False]

# Keyword arguments (creating dictionary)

In [189]:
def fun(**kwargs):
    return kwargs

In [191]:
fun(param1=34,param2=67,param3=14,param4=72)

{'param1': 34, 'param2': 67, 'param3': 14, 'param4': 72}

In [198]:
def fun(*x, **y):    # in here you must key word in last 
    return x, y

fun(45, 89, 56, 32, 54, a=5, b=8, c=1,d=9)

((45, 89, 56, 32, 54), {'a': 5, 'b': 8, 'c': 1, 'd': 9})